div .dashboard.container {
    position: relative;
    vertical-align: middle;
}

.btn {
    background-color: #0d47a1;
}

.btn:hover {
   background-color: #64b5f6 !important;
}

.btn:focus {
    background-color: #1565c0 !important;
}