.navbar {
    background-color: transparent;
    height: 80px;
    display: relative;
    align-items: center;
    overflow: hidden;
    width: 100%;
    ;
  }
  .navbar .SideMenu {
    float: left;
    width: 140.19px;
  }

div .navbar {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
  justify-content: center;
}

div .navbar span {
  display: table-cell !important;
  text-align: center !important;
  justify-content: center;

}

.right {
    display: inline-flex;
    align-items: center;
}

.navbar .logo img {
  margin-top: 14.5705px;
  margin-bottom: 14.5705px;
  position: absolute;
  max-width: 6vh;
  height: 6vh;
}

  .navbar .UserNav {
    float: right;
    margin-right: 3.8vh;
    display: absolute; 
    align-items: center;
    margin-bottom: 14px;
  }

.navbar .UserNav a:hover {
  color:#1e88e5 ;
}

  .menu-bars {
    margin-left: 3.8vh;
    font-size: 2rem;
    background: transparent;
  }

  .menu-bars svg {
    margin-top: 29.5px;
    margin-bottom: 29.5px;
    color: #1565c0 !important;
  }

  .menu-bars svg:hover {
    color:  #1e88e5  !important;
  }

  .nav-menu {
    background-color: #0d47a1 ;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
    .nav-menu.active {
      left: 0;
      transition:400ms;
    }
    
    .nav-text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0px 8px 16px;
      list-style: none;
      height: 60px;
      width: 90%;
    }
    
    .nav-text a {
      text-decoration: none;
      color: #f5f5f5;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
    }
    
    .nav-text a:hover {
      background-color: #64b5f6  ;
    }
    
    .nav-menu-items {
      width: 100%;
    }
  
  .navbar-toggle {
    background-color: #bbdefb;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .nav-text svg {
    margin-right: 10px;
  }

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}